<head>
  {{--  {{ style('style') }}  --}}
</head>


  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </nav>


<h1>Contact</h1>
<p>Welcome to my contact page</p>